@import url(https://fonts.googleapis.com/css?family=Material+Icons|PT+Sans);

$utdOrange: #c75b12;
$utdGreen: #008542;

* {
	box-sizing: border-box;
	font-family: "PT Sans", sans-serif;
}

body {
	margin: 0;
}