@import '_main.scss';

#login {

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	main {

		padding: 2rem;
		margin: 2rem;
		background: white;
		top: calc((100vh - 28rem)/2);
		width: calc(100vw - 4rem);

		> * {
			width: 100%;
			margin: 1rem 0;
			display: block;
		}

		#logo {
			
		}

		#google-text {
			text-align: center;

			#google-logo {
				height: 1rem;
				width: auto;
				vertical-align: middle;
			}
		}

		#gSignInWrapper {
			text-align: center;
			
		}

	}
}