@import '_main.scss';

#login {

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	min-height: 100vh;
	max-width: 100vw;

	main {

		margin: 1rem;
		padding: 2rem;
		background: white;
		position: absolute;
		top: calc((100vh - 28rem)/2);

		> * {
			width: 100%;
			margin: 1rem 0;
			display: block;
		}

		#logo {
			
		}

		#gSignInWrapper {
			#gSignIn {
				background: $utdOrange;
				color: white;
				padding: 1rem;
				text-align: center;
				cursor: pointer;
				font-weight: 700;
				letter-spacing: 0.25rem;
				transition: all 0.35s;

				> * {
					vertical-align: middle;
					padding-right: 1rem;
				}

				.icon {
					display: inline-block;
					font-size: 3rem;
				}

				.text {
					display: inline-block;
					font-size: 1.5rem;
				}
			}
		}

	}
}